ARI/plugins/Node-Red/.flows_Workstation.json.backup
[{"id":"4d0d8bc6.b2f274","type":"tab","label":"Office"},{"id":"f8e4185.ada63e8","type":"tab","label":"Outdoor Lights"},{"id":"72352dd3.ce9f24","type":"tab","label":"Bedroom"},{"id":"91d28fd6.7bd88","type":"tab","label":"Alarms"},{"id":"122a167a.edd5ea","type":"tab","label":"Livingroom"},{"id":"f4d1b488.0b2e48","type":"tab","label":"Misc"},{"id":"fd5e85a7.02a178","type":"tab","label":"BOOLEAN_Tests"},{"id":"554a5e37.ecd37","type":"tab","label":"Bryggers"},{"id":"8226e100.2f221","type":"ui_base","name":"ARI 2","theme":"theme-dark"},{"id":"d457d588.600018","type":"ui_tab","z":"","name":"Studio","icon":"dashboard","order":2},{"id":"84385fbf.f959d","type":"ui_group","z":"","name":"Lights","tab":"d457d588.600018","order":2,"disp":true,"width":"6"},{"id":"45a9db68.e0cc64","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"c372d9ea.dbbfc8","type":"ui_group","z":"","name":"Default","tab":"45a9db68.e0cc64","order":1,"disp":false,"width":"6"},{"id":"8507a010.37075","type":"ui_group","z":"","name":"New Group","tab":"45a9db68.e0cc64","order":2,"disp":true,"width":"12"},{"id":"bad9d30f.40f0e","type":"ui_link","z":"","name":"test link","link":"http://johansenweb.dk:3000","icon":"open_in_browser","target":"newtab","order":1},{"id":"5e0ea5bb.8d500c","type":"ui_tab","z":"","name":"Engineering","icon":"dashboard","order":3},{"id":"e62c3383.92823","type":"ui_group","z":"","name":"Alarms","tab":"5e0ea5bb.8d500c","order":1,"disp":true,"width":"6"},{"id":"a37bfee0.bba26","type":"ui_group","z":"","name":"Garage Light","tab":"5e0ea5bb.8d500c","order":2,"disp":true,"width":"6"},{"id":"cf475406.87a558","type":"ui_tab","z":"","name":"Bedroom","icon":"dashboard","order":4},{"id":"34e206ff.9baa6a","type":"ui_group","z":"","name":"Hue Lights","tab":"cf475406.87a558","order":1,"disp":true,"width":"6"},{"id":"a17b399c.c360b8","type":"ui_group","z":"","name":"Driveway","tab":"5e0ea5bb.8d500c","order":3,"disp":true,"width":"6"},{"id":"8a84ba2f.f91078","type":"ui_group","z":"","name":"Navigation","tab":"d457d588.600018","order":1,"disp":false,"width":"6"},{"id":"6a108998.762ad8","type":"ui_tab","z":"","name":"Bryggers","icon":"dashboard","order":5},{"id":"ac58573d.1aebd8","type":"ui_group","z":"","name":"Lights","tab":"6a108998.762ad8","order":1,"disp":true,"width":"6"},{"id":"31e12129.1288ee","type":"ui_tab","z":"","name":"Livingroom","icon":"dashboard","order":6},{"id":"ac36eb00.56a8f8","type":"ui_group","z":"","name":"Lights","tab":"31e12129.1288ee","order":1,"disp":true,"width":"6"},{"id":"bf86cf5.f40793","type":"ari-set","z":"122a167a.edd5ea","name":"","ariValue":"PhilipsHueGW.Livingroom.FloorLamp.brightness","x":875.9999847412109,"y":280.99998474121094,"wires":[]},{"id":"f4d22c72.0b2dd","type":"ari-in","z":"122a167a.edd5ea","name":"","ariValue":"Livingroom.motion","x":230,"y":332,"wires":[["b6587042.49a79","a286525b.f584a"]]},{"id":"5cea5b78.a315a4","type":"function","z":"122a167a.edd5ea","name":"Motion&Presence","func":"var lightTime = 1*10*1000;  // On time for light on movement.\n\nif(msg.topic){\n    \n    // Update motionLight value.\n    if(msg.topic.indexOf(\"motion\") >= 0 && msg.payload === \"1\"){\n        context.motionLight = true;\n        clearTimeout(context.lightTimer);   // Clear if allready called.\n        context.lightTimer = setTimeout(function(){ \n            context.motionLight = false;\n            calculate();\n        }, lightTime);        \n    }\n    \n    // Update isPresent value.\n    if(msg.topic.indexOf(\"168\") >= 0) {\n        context.isPresent = msg.payload !== false;\n    }\n}\n\nvar calculate = function(){\n    \n    // Update isDark value.    \n    context.isDark = false;\n    context.isLightTime = false;\n    var d = new Date();\n    var hour = d.getHours();\n    if(hour > 20 && hour < 24) context.isLightTime = true;\n    if(hour < 8 || hour > 20) context.isDark = true;\n\n    // Calculate resulting light state.\n    var absenceLight = context.isLightTime && !context.isPresent;\n    var presenceLight = context.isDark && context.motionLight;\n    result = (context.isPresent && presenceLight) || (!context.isPresent && absenceLight);\n\n    //console.log(\"motionLight = \" + context.motionLight);\n    //console.log(\"isPresent = \" + context.isPresent);\n    //console.log(\"isDark = \" + context.isDark);\n    //console.log(\"isLightTime = \" + context.isLightTime);\n    //console.log(\"result = \" + result);\n\n    // Only send change!\n    if(context.lastResult != result){\n        context.lastResult = result;\n        node.send({payload: result ? \"1\":\"0\"});\n        //return {payload: result};    \n    }\n}\n\nnode.on('close', function() {\n    // tidy up any async code here - shutdown links and so on.\n    clearTimeout(context.lightTimer);\n});\n\ncalculate();","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["f8cc6b89.073398"]]},{"id":"f8cc6b89.073398","type":"debug","z":"122a167a.edd5ea","name":"","active":true,"console":"false","complete":"true","x":800.9999847412109,"y":364.99998474121094,"wires":[]},{"id":"b6587042.49a79","type":"debug","z":"122a167a.edd5ea","name":"","active":true,"console":"false","complete":"true","x":548,"y":401,"wires":[]},{"id":"ae4267bb.51bd98","type":"inject","z":"122a167a.edd5ea","name":"","topic":"motion","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":258,"y":386,"wires":[["5cea5b78.a315a4","a286525b.f584a"]]},{"id":"1e86fb06.e17905","type":"inject","z":"122a167a.edd5ea","name":"","topic":"motion","payload":"\"0\"","payloadType":"string","repeat":"","crontab":"","once":false,"x":256,"y":436,"wires":[["5cea5b78.a315a4","a286525b.f584a"]]},{"id":"c3c739a5.3c38c8","type":"inject","z":"fd5e85a7.02a178","name":"","topic":"sig1","payload":"TRUE","payloadType":"string","repeat":"","crontab":"","once":false,"x":201,"y":96,"wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"cf36c012.30c94","type":"inject","z":"fd5e85a7.02a178","name":"","topic":"sig1","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":199,"y":138,"wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"31007e6.fceff82","type":"inject","z":"fd5e85a7.02a178","name":"","topic":"sig2","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":201,"y":185,"wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"e9e209af.161df8","type":"inject","z":"fd5e85a7.02a178","name":"","topic":"sig2","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":199,"y":227,"wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"4bf36d3c.b40c94","type":"function","z":"fd5e85a7.02a178","name":"AND","func":"context.inputs = context.inputs || {};\nvar bool =  msg.payload >= 1 ||\n            msg.payload === \"1\" || \n            msg.payload === \"true\" ||\n            msg.payload === \"True\" ||\n            msg.payload === \"TRUE\";\ncontext.inputs[msg.topic] = bool;\n\n//node.warn(context);\n\nvar result = true;\nfor(var input in context.inputs){\n    var i = context.inputs[input];\n    result = result && i;\n}\nmsg.topic = \"AND\";\nmsg.payload = result === true;\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":155,"wires":[["8c41b000.73be5"]]},{"id":"54c29312.ab3d6c","type":"debug","z":"fd5e85a7.02a178","name":"","active":true,"console":"false","complete":"false","x":471,"y":217,"wires":[]},{"id":"8c41b000.73be5","type":"debug","z":"fd5e85a7.02a178","name":"","active":true,"console":"false","complete":"false","x":685,"y":147,"wires":[]},{"id":"213f82f6.dec07e","type":"function","z":"fd5e85a7.02a178","name":"OR","func":"context.inputs = context.inputs || {};\nvar bool =  msg.payload >= 1 ||\n            msg.payload === \"1\" || \n            msg.payload === \"true\" ||\n            msg.payload === \"True\" ||\n            msg.payload === \"TRUE\";\ncontext.inputs[msg.topic] = bool;\n\nvar result = false;\nfor(var input in context.inputs){\n    var i = context.inputs[input];\n    result = result || i;\n}\nmsg.topic = \"OR\";\nmsg.payload = result === true;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":317,"wires":[["a9a87a2e.565788"]]},{"id":"a9a87a2e.565788","type":"debug","z":"fd5e85a7.02a178","name":"","active":true,"console":"false","complete":"false","x":682,"y":317,"wires":[]},{"id":"fc691bd5.0396e8","type":"ari-set","z":"4d0d8bc6.b2f274","name":"","ariValue":"Office.Light_1","x":880,"y":100,"wires":[]},{"id":"cde180ab.cd7c6","type":"ari-in","z":"f8e4185.ada63e8","name":"","ariValue":"Garage.Motion","x":180,"y":360,"wires":[["5eb8cc29.171bb4","4c160c56.114b44"]]},{"id":"80dfa212.5844f","type":"ari-set","z":"f8e4185.ada63e8","name":"","ariValue":"PhilipsHueGW.GarageLight.brightness","x":1030,"y":360,"wires":[]},{"id":"9598558b.4a1578","type":"debug","z":"f8e4185.ada63e8","name":"","active":true,"console":"false","complete":"false","x":950,"y":320,"wires":[]},{"id":"93cb63aa.fa35a","type":"ari-set","z":"4d0d8bc6.b2f274","name":"","ariValue":"Office.Light_2","x":880,"y":160,"wires":[]},{"id":"a54040f2.0b6b5","type":"ari-in","z":"4d0d8bc6.b2f274","name":"","ariValue":"Office.Motion","x":150,"y":100,"wires":[["68a0aefb.7e52c","770769e7.de2968"]]},{"id":"a286525b.f584a","type":"trigger","z":"122a167a.edd5ea","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","name":"","x":530,"y":280,"wires":[["bf86cf5.f40793","f8cc6b89.073398"]]},{"id":"68a0aefb.7e52c","type":"debug","z":"4d0d8bc6.b2f274","name":"","active":true,"console":"false","complete":"false","x":370,"y":60,"wires":[]},{"id":"94b1657a.b5f088","type":"ui_switch","z":"4d0d8bc6.b2f274","name":"","label":"Main light","group":"84385fbf.f959d","order":2,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":620,"y":100,"wires":[["fc691bd5.0396e8","53305528.eb8eec"]]},{"id":"89dfc531.137708","type":"ari-in","z":"f4d1b488.0b2e48","name":"","ariValue":"GW433.Garage.temperature","x":180,"y":220,"wires":[["cadf62ca.44205"]]},{"id":"698b561.bf220a8","type":"ui_chart","z":"f4d1b488.0b2e48","name":"","group":"8507a010.37075","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"linear","nodata":"Waiting for data","ymin":"","ymax":"","removeOlder":"24","removeOlderUnit":"3600","x":710,"y":220,"wires":[[],[]]},{"id":"f4cacea4.07097","type":"ui_switch","z":"4d0d8bc6.b2f274","name":"","label":"Secondary light","group":"84385fbf.f959d","order":2,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":640,"y":160,"wires":[["93cb63aa.fa35a","53305528.eb8eec"]]},{"id":"b62da394.805d6","type":"link in","z":"4d0d8bc6.b2f274","name":"Alarms.Any","links":["9f0175d4.ca67c8"],"x":175,"y":300,"wires":[[]]},{"id":"9f0175d4.ca67c8","type":"link out","z":"91d28fd6.7bd88","name":"","links":["b62da394.805d6"],"x":375,"y":220,"wires":[]},{"id":"56a1de97.c101c","type":"ui_switch","z":"91d28fd6.7bd88","name":"Alarms.Any","label":"Manual Alarms - Any","group":"e62c3383.92823","order":0,"width":0,"height":0,"passthru":true,"topic":"Alarms.Any","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":220,"wires":[["9f0175d4.ca67c8"]]},{"id":"770769e7.de2968","type":"function","z":"4d0d8bc6.b2f274","name":"ConfigurableTimer","func":"context.timeout = context.timeout || 60*1000; // Default 1 min.\nif(msg.topic == \"timeout\"){\n    // Update interval to use.\n    context.timeout = msg.payload;\n} else {\n    if(context.timer){\n        clearTimeout(context.timer);   // Clear if allready set.\n        context.timer = setTimeout(function(){\n            node.log(\"Action - 0\");\n            node.send({payload: 0});\n            delete context.timer;\n        }, context.timeout);\n    } else {\n        node.send({payload: 1});\n        context.timer = setTimeout(function(){\n            node.log(\"Action - 1\");\n            node.send({payload: 0});\n            delete context.timer;\n        }, context.timeout);\n    }\n}\n\nnode.on('close', function() {\n    // tidy up any async code here.\n    clearTimeout(context.timer);\n});\n","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["f4cacea4.07097","94b1657a.b5f088"]]},{"id":"53305528.eb8eec","type":"debug","z":"4d0d8bc6.b2f274","name":"","active":true,"console":"false","complete":"false","x":870,"y":220,"wires":[]},{"id":"f1b65c6d.6d40f","type":"ui_template","z":"4d0d8bc6.b2f274","group":"84385fbf.f959d","name":"TimeoutTemplate","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Time out [minutes]: {{context.to}}</p>\n    <md-button ng-click=\"context.to = 5; send({topic: 'timeout', payload: context.to*60*1000});\">\n        5\n    </md-button>\n    <md-button ng-click=\"context.to = 10; send({topic: 'timeout', payload: context.to*60*1000});\">\n        10\n    </md-button>\n    <md-button ng-click=\"context.to = 30; send({topic: 'timeout', payload: context.to*60*1000});\">\n        30\n    </md-button>\n    <md-button ng-click=\"context.to = 60; send({topic: 'timeout', payload: context.to*60*1000});\">\n        60\n    </md-button>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":130,"y":220,"wires":[["53305528.eb8eec","770769e7.de2968"]]},{"id":"228ac67a.d8e8ba","type":"function","z":"f8e4185.ada63e8","name":"ConfigurableTimer","func":"context.timeout = context.timeout || 60*1000; // Default 1 min.\nif(msg.topic == \"timeout\"){\n    // Update interval to use.\n    context.timeout = msg.payload;\n} else {\n    if(context.timer){\n        clearTimeout(context.timer);   // Clear if allready set.\n        context.timer = setTimeout(function(){\n            node.log(\"Action - 0\");\n            node.send({payload: 0});\n            delete context.timer;\n        }, context.timeout);\n    } else {\n        node.send({payload: 1});\n        context.timer = setTimeout(function(){\n            node.log(\"Action - 1\");\n            node.send({payload: 0});\n            delete context.timer;\n        }, context.timeout);\n    }\n}\n\nnode.on('close', function() {\n    // tidy up any async code here.\n    clearTimeout(context.timer);\n});\n","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["e9b8614c.d4b41","52fe1d0b.679074"]]},{"id":"5eb8cc29.171bb4","type":"ui_template","z":"f8e4185.ada63e8","group":"a37bfee0.bba26","name":"TimeoutTemplate","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Time out [minutes]: {{context.to}}</p>\n    <md-button ng-click=\"context.to = 0.1; send({topic: 'timeout', payload: context.to*60*1000});\">\n        0.1\n    </md-button>\n    <md-button ng-click=\"context.to = 1; send({topic: 'timeout', payload: context.to*60*1000});\">\n        1\n    </md-button>\n    <md-button ng-click=\"context.to = 5; send({topic: 'timeout', payload: context.to*60*1000});\">\n        5\n    </md-button>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"x":410,"y":360,"wires":[["228ac67a.d8e8ba"]]},{"id":"4c160c56.114b44","type":"debug","z":"f8e4185.ada63e8","name":"","active":true,"console":"false","complete":"false","x":390,"y":320,"wires":[]},{"id":"73398484.d1257c","type":"inject","z":"4d0d8bc6.b2f274","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":160,"wires":[["770769e7.de2968"]]},{"id":"8e64d0f8.2a2ef","type":"ari-set","z":"72352dd3.ce9f24","name":"","ariValue":"PhilipsHueGW.BedroomHue.brightness","x":940,"y":200,"wires":[]},{"id":"c8aafc2.ce3af","type":"ui_slider","z":"72352dd3.ce9f24","name":"","label":"Level","group":"34e206ff.9baa6a","order":0,"width":0,"height":0,"passthru":true,"topic":"level","min":0,"max":"1","step":"0.01","x":430,"y":200,"wires":[["8e64d0f8.2a2ef","ed6280db.a7b91"]]},{"id":"ed6280db.a7b91","type":"debug","z":"72352dd3.ce9f24","name":"","active":false,"console":"false","complete":"false","x":850,"y":160,"wires":[]},{"id":"be61a041.92282","type":"link out","z":"f4d1b488.0b2e48","name":"IsDark","links":[],"x":440,"y":120,"wires":[]},{"id":"2970f709.a7d908","type":"inject","z":"f8e4185.ada63e8","name":"ON @ Sunset","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 16 * * *","once":false,"x":180,"y":120,"wires":[["15f32bf0.1368a4"]]},{"id":"21f3f33e.526e9c","type":"comment","z":"f8e4185.ada63e8","name":"Driveway lights","info":"First light is on from \"sunset\" to \"midnight\".\nGarage sensor in motion controlled.\nLights 2+3 turn on based on motion (garage sensor for now)\n","x":100,"y":40,"wires":[]},{"id":"73979715.ca2748","type":"inject","z":"f8e4185.ada63e8","name":"OFF @ Midnight","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 00 * * *","once":false,"x":170,"y":160,"wires":[["15f32bf0.1368a4"]]},{"id":"65800a1c.c64a54","type":"ari-set","z":"f8e4185.ada63e8","name":"","ariValue":"PhilipsHueGW.Driveway 1.brightness","x":650,"y":240,"wires":[]},{"id":"b6086d8.56c829","type":"ari-set","z":"f8e4185.ada63e8","name":"","ariValue":"PhilipsHueGW.Driveway 2.brightness","x":1030,"y":460,"wires":[]},{"id":"fbcf07bd.4b4c78","type":"ari-set","z":"f8e4185.ada63e8","name":"","ariValue":"PhilipsHueGW.Driveway 3.brightness","x":1030,"y":520,"wires":[]},{"id":"1a0004e7.2f826b","type":"inject","z":"72352dd3.ce9f24","name":"ON @ 6:45","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"45 6 * * 1,2,3,4,5","once":false,"x":190,"y":160,"wires":[["c8aafc2.ce3af"]]},{"id":"4d1ce95f.7b0638","type":"inject","z":"72352dd3.ce9f24","name":"OFF @ 7:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 7 * * 1,2,3,4,5","once":false,"x":180,"y":200,"wires":[["c8aafc2.ce3af"]]},{"id":"98147ed4.5282f","type":"inject","z":"f8e4185.ada63e8","name":"ON @ Morning","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 6 * * *","once":false,"x":180,"y":200,"wires":[["15f32bf0.1368a4"]]},{"id":"adfeccdb.89d69","type":"inject","z":"f8e4185.ada63e8","name":"OFF @ Morning","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 8 * * *","once":false,"x":170,"y":240,"wires":[["15f32bf0.1368a4"]]},{"id":"cadf62ca.44205","type":"change","z":"f4d1b488.0b2e48","name":"topic=Garage","rules":[{"t":"set","p":"topic","pt":"msg","to":"Garage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["698b561.bf220a8"]]},{"id":"90eac450.84ba28","type":"ari-in","z":"f4d1b488.0b2e48","name":"","ariValue":"GW433.Livingroom.temperature","x":170,"y":280,"wires":[["f972b659.133a68"]]},{"id":"7216e8f8.bc2878","type":"ari-in","z":"f4d1b488.0b2e48","name":"","ariValue":"GW433.Studio.temperature","x":180,"y":340,"wires":[["1ede0cfa.06ef33"]]},{"id":"f972b659.133a68","type":"change","z":"f4d1b488.0b2e48","name":"topic=Livingroom","rules":[{"t":"set","p":"topic","pt":"msg","to":"Livingroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["698b561.bf220a8"]]},{"id":"1ede0cfa.06ef33","type":"change","z":"f4d1b488.0b2e48","name":"topic=Studio","rules":[{"t":"set","p":"topic","pt":"msg","to":"Studio","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["698b561.bf220a8"]]},{"id":"35210ff0.5aa76","type":"ui_ui_control","z":"f4d1b488.0b2e48","name":"ui control","x":600,"y":480,"wires":[[]]},{"id":"c2c4da62.c4a0a8","type":"ui_button","z":"f4d1b488.0b2e48","name":"","group":"c372d9ea.dbbfc8","order":0,"width":0,"height":0,"label":"Studio","color":"","icon":"","payload":"Studio","payloadType":"str","topic":"","x":130,"y":480,"wires":[["35210ff0.5aa76"]]},{"id":"4f0c5f7a.fa608","type":"ui_button","z":"f4d1b488.0b2e48","name":"","group":"c372d9ea.dbbfc8","order":0,"width":0,"height":0,"label":"Bedroom","color":"","icon":"","payload":"Bedroom","payloadType":"str","topic":"","x":120,"y":520,"wires":[["35210ff0.5aa76"]]},{"id":"45dad952.baeec8","type":"ui_button","z":"f4d1b488.0b2e48","name":"","group":"c372d9ea.dbbfc8","order":0,"width":0,"height":0,"label":"Livingroom","color":"","icon":"","payload":"Livingroom","payloadType":"str","topic":"","x":110,"y":620,"wires":[["35210ff0.5aa76"]]},{"id":"e5c4d81c.658e18","type":"ui_button","z":"f4d1b488.0b2e48","name":"","group":"c372d9ea.dbbfc8","order":0,"width":0,"height":0,"label":"Engineering","color":"","icon":"","payload":"Engineering","payloadType":"str","topic":"","x":110,"y":560,"wires":[["35210ff0.5aa76"]]},{"id":"66933c84.270564","type":"ui_button","z":"f4d1b488.0b2e48","name":"","group":"8a84ba2f.f91078","order":0,"width":0,"height":0,"label":"Home","color":"","icon":"","payload":"Home","payloadType":"str","topic":"","x":130,"y":420,"wires":[["35210ff0.5aa76"]]},{"id":"789ebad.c921d44","type":"function","z":"f8e4185.ada63e8","name":"setLightLevel","func":"var local = flow.get('local')||{};\nif(msg.payload > 0) local.lightLevel = 0.5;\nelse local.lightLevel = 0;\n\nmsg.payload = local.lightLevel;\n\nnode.log(\"local.lightLevel:\" + local.lightLevel);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["278da4e8.45310c","e9b8614c.d4b41"]]},{"id":"e9b8614c.d4b41","type":"function","z":"f8e4185.ada63e8","name":"=lightLevel","func":"var local = flow.get('local')||{};\nlocal.lightLevel = local.lightLevel || 0;\nif(msg.payload > 0) msg.payload = 1;\nelse msg.payload = local.lightLevel;\n\nnode.log(\"local.lightLevel:\" + local.lightLevel);\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":460,"wires":[["5919d10a.c5cf6"]]},{"id":"9ec9bb70.e0bfa8","type":"inject","z":"f8e4185.ada63e8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":420,"wires":[["5eb8cc29.171bb4"]]},{"id":"6e231106.84736","type":"debug","z":"f8e4185.ada63e8","name":"","active":true,"console":"false","complete":"false","x":960,"y":600,"wires":[]},{"id":"506a0cfe.c57ba4","type":"inject","z":"f8e4185.ada63e8","name":"","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":460,"wires":[["5eb8cc29.171bb4"]]},{"id":"5919d10a.c5cf6","type":"ui_slider","z":"f8e4185.ada63e8","name":"","label":"Light 2+3","group":"a17b399c.c360b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.01","x":780,"y":460,"wires":[["b6086d8.56c829","fbcf07bd.4b4c78","6e231106.84736"]]},{"id":"e07bb239.7667c","type":"inject","z":"122a167a.edd5ea","name":"0.5 @ 18:00","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"00 18 * * *","once":false,"x":160,"y":80,"wires":[["494b981.78e3068"]]},{"id":"eb3b104f.e9ff2","type":"inject","z":"122a167a.edd5ea","name":"0 @ 23:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 0 * * *","once":false,"x":150,"y":120,"wires":[["494b981.78e3068"]]},{"id":"ec404e49.f5dc3","type":"ari-set","z":"122a167a.edd5ea","name":"","ariValue":"PhilipsHueGW.Hue white lamp 1.brightness","x":730,"y":80,"wires":[]},{"id":"9d4a76c3.2d0de8","type":"ari-set","z":"122a167a.edd5ea","name":"","ariValue":"PhilipsHueGW.Hue white lamp 2.brightness","x":730,"y":120,"wires":[]},{"id":"131afab9.877b85","type":"ari-set","z":"122a167a.edd5ea","name":"","ariValue":"PhilipsHueGW.Livingroom shelf lamp.brightness","x":740,"y":200,"wires":[]},{"id":"887b3cb6.248c7","type":"ari-set","z":"554a5e37.ecd37","name":"","ariValue":"PhilipsHueGW.Bryggers1.brightness","x":650,"y":120,"wires":[]},{"id":"9cbeb358.de693","type":"inject","z":"554a5e37.ecd37","name":"0.5 @ 18:00","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"00 18 * * *","once":false,"x":280,"y":120,"wires":[["887b3cb6.248c7"]]},{"id":"bed80934.c368a8","type":"inject","z":"554a5e37.ecd37","name":"0 @ 01:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 1 * * *","once":false,"x":290,"y":160,"wires":[["887b3cb6.248c7"]]},{"id":"42c44cc1.a23394","type":"ari-set","z":"554a5e37.ecd37","name":"","ariValue":"PhilipsHueGW.Bryggers2.brightness","x":650,"y":260,"wires":[]},{"id":"9bc1ecca.86562","type":"ari-set","z":"554a5e37.ecd37","name":"","ariValue":"PhilipsHueGW.Bryggers3.brightness","x":650,"y":300,"wires":[]},{"id":"3a05a1bf.37906e","type":"ui_slider","z":"554a5e37.ecd37","name":"","label":"slider","group":"ac58573d.1aebd8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.01","x":350,"y":260,"wires":[["42c44cc1.a23394","9bc1ecca.86562","887b3cb6.248c7"]]},{"id":"494b981.78e3068","type":"ui_slider","z":"122a167a.edd5ea","name":"","label":"slider","group":"ac36eb00.56a8f8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.01","x":370,"y":80,"wires":[["ec404e49.f5dc3","9d4a76c3.2d0de8"]]},{"id":"479a3de0.15c4c4","type":"inject","z":"4d0d8bc6.b2f274","name":"ON @ Sunset","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 15 * * *","once":false,"x":640,"y":280,"wires":[["93cb63aa.fa35a"]]},{"id":"29199f0f.9eaf3","type":"inject","z":"4d0d8bc6.b2f274","name":"OFF @ 3","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 03 * * *","once":false,"x":630,"y":320,"wires":[["93cb63aa.fa35a"]]},{"id":"278da4e8.45310c","type":"debug","z":"f8e4185.ada63e8","name":"","active":true,"console":"false","complete":"false","x":830,"y":120,"wires":[]},{"id":"52fe1d0b.679074","type":"ui_slider","z":"f8e4185.ada63e8","name":"","label":"Garage","group":"a17b399c.c360b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.01","x":800,"y":360,"wires":[["80dfa212.5844f"]]},{"id":"15f32bf0.1368a4","type":"ui_slider","z":"f8e4185.ada63e8","name":"","label":"Light 1","group":"a17b399c.c360b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1","step":"0.01","x":370,"y":240,"wires":[["65800a1c.c64a54","789ebad.c921d44"]]}]