ARI/plugins/Node-Red/.flows_Workstation.json.backup
[{"type":"tab","id":"f4d1b488.0b2e48","label":"Sheet 1"},{"type":"tab","id":"122a167a.edd5ea","label":"PresenceTest"},{"type":"tab","id":"fd5e85a7.02a178","label":"BOOLEAN_Tests"},{"type":"tab","id":"4d0d8bc6.b2f274","label":"Test"},{"id":"46edd1e3.b9123","type":"ari-registerValue","name":"","ariValue":"testValue","description":"Value to test funtionality!","x":475,"y":54,"z":"f4d1b488.0b2e48","wires":[["75d8eb49.8a2714"]]},{"id":"75d8eb49.8a2714","type":"debug","name":"","active":true,"console":"false","complete":"true","x":687,"y":54,"z":"f4d1b488.0b2e48","wires":[]},{"id":"c6530756.39acf8","type":"ari-set","name":"","ariValue":"Node-Red.testValue","x":321,"y":54,"z":"f4d1b488.0b2e48","wires":[]},{"id":"a15e700.f5ea19","type":"inject","name":"","topic":"","payload":"Hey","payloadType":"string","repeat":"","crontab":"","once":false,"x":103,"y":54,"z":"f4d1b488.0b2e48","wires":[["c6530756.39acf8"]]},{"id":"7ac51394.853aec","type":"ping","name":"PhonePresence","host":"192.168.1.126","timer":"10","x":129,"y":281,"z":"122a167a.edd5ea","wires":[["a3a55462.5c5aa8","5cea5b78.a315a4"]]},{"id":"a3a55462.5c5aa8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":338,"y":248,"z":"122a167a.edd5ea","wires":[]},{"id":"bf86cf5.f40793","type":"ari-set","name":"","ariValue":"Livingroom.floorLamp","x":808,"y":281,"z":"122a167a.edd5ea","wires":[]},{"id":"f4d22c72.0b2dd","type":"ari-in","name":"","ariValue":"Livingroom.motion","x":230,"y":332,"z":"122a167a.edd5ea","wires":[["5cea5b78.a315a4","b6587042.49a79"]]},{"id":"5cea5b78.a315a4","type":"function","name":"Motion&Presence","func":"var lightTime = 1*10*1000;  // On time for light on movement.\n\nif(msg.topic){\n    \n    // Update motionLight value.\n    if(msg.topic.indexOf(\"motion\") >= 0 && msg.payload === \"1\"){\n        context.motionLight = true;\n        clearTimeout(context.lightTimer);   // Clear if allready called.\n        context.lightTimer = setTimeout(function(){ \n            context.motionLight = false;\n            calculate();\n        }, lightTime);        \n    }\n    \n    // Update isPresent value.\n    if(msg.topic.indexOf(\"168\") >= 0) {\n        context.isPresent = msg.payload !== false;\n    }\n}\n\nvar calculate = function(){\n    \n    // Update isDark value.    \n    context.isDark = false;\n    context.isLightTime = false;\n    var d = new Date();\n    var hour = d.getHours();\n    if(hour > 15 && hour < 24) context.isLightTime = true;\n    if(hour < 8 || hour > 15) context.isDark = true;\n\n    // Calculate resulting light state.\n    var absenceLight = context.isLightTime && !context.isPresent;\n    var presenceLight = context.isDark && context.motionLight;\n    result = (context.isPresent && presenceLight) || (!context.isPresent && absenceLight);\n\n    //console.log(\"motionLight = \" + context.motionLight);\n    //console.log(\"isPresent = \" + context.isPresent);\n    //console.log(\"isDark = \" + context.isDark);\n    //console.log(\"isLightTime = \" + context.isLightTime);\n    //console.log(\"result = \" + result);\n\n    // Only send change!\n    if(context.lastResult != result){\n        context.lastResult = result;\n        node.send({payload: result ? \"1\":\"0\"});\n        //return {payload: result};    \n    }\n}\n\nnode.on('close', function() {\n    // tidy up any async code here - shutdown links and so on.\n    clearTimeout(context.lightTimer);\n});\n\ncalculate();","outputs":1,"noerr":0,"x":506,"y":281,"z":"122a167a.edd5ea","wires":[["bf86cf5.f40793","f8cc6b89.073398"]]},{"id":"f8cc6b89.073398","type":"debug","name":"","active":true,"console":"false","complete":"true","x":703,"y":351,"z":"122a167a.edd5ea","wires":[]},{"id":"b6587042.49a79","type":"debug","name":"","active":true,"console":"false","complete":"true","x":548,"y":401,"z":"122a167a.edd5ea","wires":[]},{"id":"ae4267bb.51bd98","type":"inject","name":"","topic":"motion","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":258,"y":386,"z":"122a167a.edd5ea","wires":[["5cea5b78.a315a4"]]},{"id":"1e86fb06.e17905","type":"inject","name":"","topic":"motion","payload":"\"0\"","payloadType":"string","repeat":"","crontab":"","once":false,"x":256,"y":436,"z":"122a167a.edd5ea","wires":[["5cea5b78.a315a4"]]},{"id":"c3c739a5.3c38c8","type":"inject","name":"","topic":"sig1","payload":"TRUE","payloadType":"string","repeat":"","crontab":"","once":false,"x":201,"y":96,"z":"fd5e85a7.02a178","wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"cf36c012.30c94","type":"inject","name":"","topic":"sig1","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":199,"y":138,"z":"fd5e85a7.02a178","wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"31007e6.fceff82","type":"inject","name":"","topic":"sig2","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":201,"y":185,"z":"fd5e85a7.02a178","wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"e9e209af.161df8","type":"inject","name":"","topic":"sig2","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":199,"y":227,"z":"fd5e85a7.02a178","wires":[["4bf36d3c.b40c94","54c29312.ab3d6c","213f82f6.dec07e"]]},{"id":"4bf36d3c.b40c94","type":"function","name":"AND","func":"context.inputs = context.inputs || {};\nvar bool =  msg.payload >= 1 ||\n            msg.payload === \"1\" || \n            msg.payload === \"true\" ||\n            msg.payload === \"True\" ||\n            msg.payload === \"TRUE\";\ncontext.inputs[msg.topic] = bool;\n\n//node.warn(context);\n\nvar result = true;\nfor(var input in context.inputs){\n    var i = context.inputs[input];\n    result = result && i;\n}\nmsg.topic = \"AND\";\nmsg.payload = result === true;\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":155,"z":"fd5e85a7.02a178","wires":[["8c41b000.73be5"]]},{"id":"54c29312.ab3d6c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":471,"y":217,"z":"fd5e85a7.02a178","wires":[]},{"id":"8c41b000.73be5","type":"debug","name":"","active":true,"console":"false","complete":"false","x":685,"y":147,"z":"fd5e85a7.02a178","wires":[]},{"id":"213f82f6.dec07e","type":"function","name":"OR","func":"context.inputs = context.inputs || {};\nvar bool =  msg.payload >= 1 ||\n            msg.payload === \"1\" || \n            msg.payload === \"true\" ||\n            msg.payload === \"True\" ||\n            msg.payload === \"TRUE\";\ncontext.inputs[msg.topic] = bool;\n\nvar result = false;\nfor(var input in context.inputs){\n    var i = context.inputs[input];\n    result = result || i;\n}\nmsg.topic = \"OR\";\nmsg.payload = result === true;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":317,"z":"fd5e85a7.02a178","wires":[["a9a87a2e.565788"]]},{"id":"a9a87a2e.565788","type":"debug","name":"","active":true,"console":"false","complete":"false","x":682,"y":317,"z":"fd5e85a7.02a178","wires":[]},{"id":"b49f0790.4b60f8","type":"inject","name":"","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":267,"y":94,"z":"4d0d8bc6.b2f274","wires":[["fc691bd5.0396e8"]]},{"id":"2b8468e9.d47b98","type":"inject","name":"","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":263,"y":143,"z":"4d0d8bc6.b2f274","wires":[["fc691bd5.0396e8"]]},{"id":"fc691bd5.0396e8","type":"ari-set","name":"","ariValue":"EspTestThing/EspDevThing1.light","x":528,"y":180,"z":"4d0d8bc6.b2f274","wires":[]},{"id":"ac5fb3fa.53a05","type":"http request","name":"Hue Bridge","method":"use","ret":"obj","url":"","x":599,"y":394,"z":"4d0d8bc6.b2f274","wires":[["37c9a1cf.c8365e"]]},{"id":"c604c31e.39fb4","type":"function","name":"Turn on hue light 1","func":"/*\nurl, if set, is used as the url of the request. Must start with http: or https:\nmethod, if set, is used as the HTTP method of the request. Must be one of GET, PUT, POST, PATCH or DELETE (default: GET)\nheaders, if set, should be an object containing field/value pairs to be added as request headers\npayload is sent as the body of the request*/\n\nmsg.url = \"http://192.168.1.117/api/1ed1812760c38a50dd1b4b72d1e5c4e/lights/1/state\";\nmsg.method = \"PUT\";\nmsg.payload = '{\"on\": true}';\n\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":375,"z":"4d0d8bc6.b2f274","wires":[["ac5fb3fa.53a05"]]},{"id":"e59640df.1a69c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":197,"y":368,"z":"4d0d8bc6.b2f274","wires":[["c604c31e.39fb4"]]},{"id":"7db76872.824898","type":"function","name":"Turn off hue light 1","func":"/*\nurl, if set, is used as the url of the request. Must start with http: or https:\nmethod, if set, is used as the HTTP method of the request. Must be one of GET, PUT, POST, PATCH or DELETE (default: GET)\nheaders, if set, should be an object containing field/value pairs to be added as request headers\npayload is sent as the body of the request*/\n\nmsg.url = \"http://192.168.1.117/api/1ed1812760c38a50dd1b4b72d1e5c4e/lights/1/state\";\nmsg.method = \"PUT\";\nmsg.payload = '{\"on\": false}';\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":441,"z":"4d0d8bc6.b2f274","wires":[["ac5fb3fa.53a05"]]},{"id":"a94b6fd.f56b49","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":201,"y":439,"z":"4d0d8bc6.b2f274","wires":[["7db76872.824898"]]},{"id":"37c9a1cf.c8365e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":785,"y":398,"z":"4d0d8bc6.b2f274","wires":[]},{"id":"ae4d72c7.51b29","type":"ari-set","name":"","ariValue":"TestDevice(10)/TestDevice.pwm","x":684,"y":624,"z":"4d0d8bc6.b2f274","wires":[]},{"id":"55c0c2a9.aa3f3c","type":"inject","name":"setPWM=10","topic":"","payload":"10","payloadType":"string","repeat":"","crontab":"","once":false,"x":452,"y":608,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"3141d65b.cebe2a","type":"inject","name":"setPWM=50","topic":"","payload":"50","payloadType":"string","repeat":"","crontab":"","once":false,"x":418,"y":656,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"8abc980c.754368","type":"inject","name":"setPWM=100","topic":"","payload":"100","payloadType":"string","repeat":"","crontab":"","once":false,"x":447,"y":699,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"2cbe669e.d3419a","type":"inject","name":"setPWM=2","topic":"","payload":"2","payloadType":"string","repeat":"","crontab":"","once":false,"x":430,"y":588,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"8b016034.74fea","type":"inject","name":"setPWM=1","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":432,"y":564,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"1e58c07d.e1a74","type":"inject","name":"setPWM=0","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":425,"y":515,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"71a99782.8e5668","type":"inject","name":"setPWM=255","topic":"","payload":"255","payloadType":"string","repeat":"","crontab":"","once":false,"x":437,"y":815,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"182e513d.e7d1af","type":"inject","name":"setPWM=400","topic":"","payload":"400","payloadType":"string","repeat":"","crontab":"","once":false,"x":435,"y":863,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"2e3b7823.d1c488","type":"inject","name":"setPWM=512","topic":"","payload":"512","payloadType":"string","repeat":"","crontab":"","once":false,"x":437,"y":941,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"606a451e.9f95bc","type":"inject","name":"setPWM=1000","topic":"","payload":"1000","payloadType":"string","repeat":"","crontab":"","once":false,"x":441,"y":980,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"3f11e3ff.c0ee1c","type":"inject","name":"setPWM=1024","topic":"","payload":"1024","payloadType":"string","repeat":"","crontab":"","once":false,"x":438,"y":1018,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]},{"id":"5d0b7519.a2f48c","type":"inject","name":"setPWM=499","topic":"","payload":"499","payloadType":"string","repeat":"","crontab":"","once":false,"x":436,"y":903,"z":"4d0d8bc6.b2f274","wires":[["ae4d72c7.51b29"]]}]